<footer>
    <nav>
        <ul>
            <li id="copyright">&copy; CLT Sports</li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li class="sm-logo"><a href="#"><img src="../images/twitter-logo.png" alt="twitter-logo"></a></li>
            <li class="sm-logo"><a href="#"><img src="../images/facebook-logo.png" alt="facebook-logo"></a></li>
        </ul>
    </nav>
</footer>
