<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLT Sports</title>
    <link href="/styles/dark-mode.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer">>
</head>
<body>
<header>
    <nav id="user-nav">
        <ul>
            <li id="list-logo"><a href="/">
                <img id="nav-logo" src="/images/logo.png" alt="logo"></a>
            </li>
            <li class="user-nav-elements"><a href="#">Login</a></li>
            <li class="user-nav-elements"><a href="#">Signup</a></li>
            <li class="user-nav-elements"><a href="/events/new">New Event</a></li>
        </ul>
    </nav>
    <hr>
    <nav id="general-nav">
        <ul>
            <li><a href="/events">Events</a></li>
        </ul>
    </nav>
</header>