<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="/styles/dark-mode.css" rel="stylesheet">
</head>
<body>
<%- include('./partials/header.ejs') %> 
<main>
    <h1>About us!</h1>
    <h2>Your Game, Your Way</h2>
    <p>Welcome to CLT Sports, the ultimate destination for organzing pick-up games
        in the Charlotte-Mecklenburg area. We're passionate about bringing the community
        together through building meaningful connections while enjoying your favorite sports.
    </p>
    <p>Our mission is simple: to make sports more accessible, social, and fun for 
        everyone.
    </p>
</main>
<%- include('./partials/footer.ejs') %> 
</body>
</html>