<%- include('./partials/header.ejs') %> 
    <h1>Contact Us!</h1>
    <p>Email us at support@cltsports.com with any questions or
        call 333-444-5555 and we'll be happy to assist you.
    </p>
</main>
<%- include('./partials/footer.ejs') %>