<%- include('./partials/header.ejs') %> 
    <main>
        <h1>Events</h1>
        <h2>Basketball</h2>
            <ul class="events-container">
                <li><a href="./event.html">Tom Hunter Park</a></li>
                <li><a href="./event.html">UNC Charlotte UREC</a></li>
                <li><a href="./event.html">Midwood Park</a></li>
            </ul>
        <h2>Pickleball</h2>
        <ul class="events-container">
            <li><a href="./event.html">Clark Creek Community Park</a></li>
            <li><a href="./event.html">Pearl Street Park</a></li>
            <li><a href="./event.html">White Oak Park</a></li>
        </ul>
    </main>
<%- include('./partials/footer.ejs') %> 