<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event</title>
    <link href="../styles/dark-mode.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
     integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
     crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <header>
        <nav id="user-nav">
            <ul>
                <li id="list-logo"><a href="index.html">
                    <img id="nav-logo" src="../images/logo.png" alt="logo"></a>
                </li>
                <li class="user-nav-elements"><a href="#">Login</a></li>
                <li class="user-nav-elements"><a href="#">Signup</a></li>
                <li class="user-nav-elements"><a href="./newEvent.html">New Event</a></li>
            </ul>
        </nav>
        <hr>
        <nav id="general-nav">
            <ul>
                <li><a href="./events.html">Events</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Event</h1>
        <div class="event-container">
            <div class= event-header>
                <h2>Basketball - Midwood Park</h2>
                <h2 class="event-edit">&nbsp;
                    <button><i class="fa-regular fa-pen-to-square fa-2xl"></i></button>
                </h2>
                <h2 class="event-delete">&nbsp;
                    <button><i class="fa-regular fa-trash-can fa-2xl"></i></button>
                </h2>
            </div>
            <img src="../images/logo.png" alt="event-img">
            <div class="event-details">
                <p><strong>Host:</strong> Jon Donson</p>
                <p><strong>Date and Time:</strong> Wed, Oct 4, 2023, 6pm - 8pm</p>
                <p><strong>Where:</strong> Midwood Park</p>
                <p><strong>Details:</strong> Pickup games every Wednesday at Midwood park</p>
            </div>
        </div>
    </main>
    <footer>
        <nav>
            <ul>
                <li id="copyright">&copy; CLT Sports</li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li class="sm-logo"><a href="#"><img src="../images/twitter-logo.png" alt="twitter-logo"></a></li>
                <li class="sm-logo"><a href="#"><img src="../images/facebook-logo.png" alt="facebook-logo"></a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>