<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link href="../styles/dark-mode.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav id="user-nav">
            <ul>
                <li id="list-logo"><a href="index.html">
                    <img id="nav-logo" src="../images/logo.png" alt="logo"></a>
                </li>
                <li class="user-nav-elements"><a href="#">Login</a></li>
                <li class="user-nav-elements"><a href="#">Signup</a></li>
                <li class="user-nav-elements"><a href="./newEvent.html">New Event</a></li>
            </ul>
        </nav>
        <hr>
        <nav id="general-nav">
            <ul>
                <li><a href="./events.html">Events</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Events</h1>
        <h2>Basketball</h2>
            <ul class="events-container">
                <li><a href="./event.html">Tom Hunter Park</a></li>
                <li><a href="./event.html">UNC Charlotte UREC</a></li>
                <li><a href="./event.html">Midwood Park</a></li>
            </ul>
        <h2>Pickleball</h2>
        <ul class="events-container">
            <li><a href="./event.html">Clark Creek Community Park</a></li>
            <li><a href="./event.html">Pearl Street Park</a></li>
            <li><a href="./event.html">White Oak Park</a></li>
        </ul>
    </main>
    <footer>
        <nav>
            <ul>
                <li id="copyright">&copy; CLT Sports</li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li class="sm-logo"><a href="#"><img src="../images/twitter-logo.png" alt="twitter-logo"></a></li>
                <li class="sm-logo"><a href="#"><img src="../images/facebook-logo.png" alt="facebook-logo"></a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>