<%- include('./partials/header.ejs') %> 
    <main>
        <h1>Welcome to CLT Sports!</h1>
        <p>Our mission at CLT Sports is to provide an environment where people can attend and create 
            pickup games in the Charlotte Mecklenburg area. Whether you are looking to play casually or 
            competitively, CLT Sports is a great place to connect with others and bond over mutual interests.
        </p>
        <p>Check out the Events section to browse available events or head over to New Events 
            to create your own!
        </p>
    </main>
<%- include('./partials/footer.ejs') %> 
