<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    <link href="/styles/dark-mode.css" rel="stylesheet">
</head>
<body>
<%- include('../partials/header.ejs') %> 
<main>
    <h1>Create Event</h1>
    <form action="/events" method="POST" id="event-form" enctype="multipart/form-data">
        <label for="category"><strong>Category</strong></label>
            <select name="category" id="category" required>
                <option value="" disabled selected>--Select a Category--</option>
                <option value="Soccer">Soccer</option>
                <option value="Basketball">Basketball</option>
                <option value="Softball">Softball</option>
                <option value="Tennis">Tennis</option>
                <option value="Pickleball">Pickleball</option>
                <option value="Other">Other</option>
            </select>
        <label for="title"><strong>Title</strong></label>
        <input type="text" name="title" id="title" required>   
        <label for="details"><strong>Details</strong></label>
        <textarea name="details" id="details" rows="3" cols="50" required></textarea>
        <label for="where"><strong>Where</strong></label>
        <input type="text" name="where" id="where" required>
        <label for="start"><strong>Start</strong></label>
        <input type="datetime-local" name="start" id="start" required>       
        <label for="end"><strong>End</strong></label>
        <input type="datetime-local" name="end" id="end" required>       
        <label for="eventImage"><strong>Image</strong></label>           
        <input type="file" name="eventImage" id="eventImage" accept="image/*">
        <input type="hidden" name="eventImageFileName" id="eventImageFileName">
        <button type="submit"><strong>Submit</strong></button>
    </form>
</main>
<%- include('../partials/footer.ejs') %> 
</body>
</html>